.background {
  background: linear-gradient( #a08ae5 0%, #6e51d9 70%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-mono);
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.submit {
  padding: 1rem;
  background: #b0e212;
}

.row {
  display: flex;
align-items: flex-end;
  background: white;
  padding: 0.2rem;

}